body {
    background-color: white;
    display:flex;
flex-direction: row;
margin: 0 0vh;
}
@font-face {
    font-family: "Meditation";
    src: url("./assets/Meditation.ttf");
}

h1  {
    
}


#banner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("assets/ahmed-saeed-unsplash.jpg");
    width:35.8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: "Meditation",Arial, Helvetica, sans-serif;
    align-items: center;
    
}

#Titlebackground {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    font-size: 75px;
    margin-top: 20%;
    width: 100%;
    margin-bottom:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    background-image: url("assets/lotus-flower-svgrepo-com-cropped.svg");
    height:90%;
    width:30%;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;



  
}
#main {
    width:48vw;
    margin-left: 1vw;
    background-color: white;
}